<div class="template">
    <h2>Template 1: Photography Portfolio</h2>
    <div class="gallery">
        <img src="images/DSC0075.jpg" alt="Example 1">
        <img src="images/DSC0075.jpg" alt="Example 2">
    </div>
    <div class="about">
        <h3>About the Photographer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</p>
    </div>
    <div class="contact">
        <h3>Contact</h3>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
